<p id="notice"><%= notice %></p>


<h1>Turmas</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Inicio</th>
      <th>Fim</th>
      <th>Horas</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @turmas.each do |turma| %>
      <tr>
        <td><%= turma.nome %></td>
        <td><%= turma.inicio %></td>
        <td><%= turma.fim %></td>
        <td><%= turma.horas %></td>
        <td><%= link_to 'Show', turma %></td>
        <td><%= link_to 'Edit', edit_turma_path(turma) %></td>
        <td><%= link_to 'Destroy', turma, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Turma', new_turma_path %>
